@import "../../vars.css";

.container {
  margin-top: 70px; 
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 32px; 
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center; 
  margin-bottom: 30px; 
}

.projects {
  margin-top: 25px; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; 
  justify-content: center; 
  gap: 25px; 
  width: 100%;
}


/* Media Queries for responsiveness */
@media screen and (max-width: 830px) {
  .container {
    margin-top: 50px; 
    margin-left: 5%; 
    margin-right: 5%;
  }

  .title {
    font-size: 28px; 
    margin-bottom: 20px; 
  }

  .projects {
    margin-top: 15px; 
  }
}